<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">DevOps Engineer</h3>
                            <div class="time">Jan 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Apple Inc., Sunnyvale, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I have been working as a DevOps inside Online Store team and dealing with process management, tooling migration/maintenance and building automation in general. More details will come after some time.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">Sep 2015 - Jan 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Rize University, Rize, Turkey</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Due to the fact that I was a scholar of Turkish government during my graduate study at CMU, I had to fulfill a service in return after finishing my program. This fulfillment was assigned to me as a service at a university. Therefore, I was a research assistant at Computer &amp; Instructional Technology department in Faculty of Education at Rize University.</p>
                        <p>I contributed to many daily tasks and implemented some automation scripts to overcome these. These tasks included planning, scheduling and organizing midterm and final exam sessions in the faculty for a given limited time and resource like classrooms and staff. I developed a web application which had a scheduling logic built with Laravel framework as a proof of concept but the project was not funded.</p>
                        <p>In addition, I developed a cross-platform mobile application for an international symposium held at the university. Apart from these, I was also a teaching assistant in several classes such as Introduction to Programming, DBMS and Hands On: Google Services</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">Sep 2014 - Feb 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">NASA Ames Research Center, Mountain View, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>I was a research assistant at NASA Ames Research projects when I was studying at CMU. While developing a <a class="to-project" href="#JKIND">plugin</a> for a simulation tool, I also completed my <a class="to-project" href="#PRACTICUM">practicum project</a> with NASA apart from my assistantship.</p>
                      <p>TBD</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineering Intern</h3>
                            <div class="time">Jun 2014 - Sep 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Quixey, Mountain View, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>I was a part of DevOps team during my internship and initiated an auditing tool for auditing production cloud configurations. As the lord commander of the project, knowing nothing, I successfully finished the initial version of the project, <a class="to-project" href="#NIGHTSWATCH">Night's Watch</a>.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">Sep 2012 - Jun 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Open Business Software Solutions, Istanbul, Turkey</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>As an outsource developer, I participated in developing enterprise applications for telecommunication and banking companies. The two projects I was involved in during my work were <a class="to-project" href="#MSFA">Turkcell Mobile Sales Force Automation (MSFA)</a> and <a class="to-project" href="#EBS">Enterprise Brokerage System (EBS)</a>.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
