<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">DevOps Engineer</h3>
                            <div class="time">Jan 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Apple Inc., Sunnyvale, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>TBD</p>
                        <p>TBD</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">Sep 2015 - Jan 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Rize University, Rize, Turkey</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>TBD</p>
                        <p>TBD</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">Sep 2014 - Feb 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">NASA Ames Research Center, Mountain View, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>TBD</p>
                      <p>TBD</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineering Intern</h3>
                            <div class="time">Jun 2014 - Sep 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Quixey, Mountain View, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>I was a part of DevOps team during my internship and initiated an auditing tool for auditing production cloud configurations. As the lord commander of the project, knowing nothing, I successfully finished the initial version of the renowned wall, <a class="to-project" href="#NIGHTSWATCH">Night's Watch</a>.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">Sep 2012 - Jun 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Open Business Software Solutions, Istanbul, Turkey</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>As an outsource developer, I participated in developing enterprise applications for telecommunication and banking companies. The two projects I was involved in during my work were <a class="to-project" href="#MSFA">Mobile Sales Force Automation (MSFA)</a> and <a class="to-project" href="#EBS">Enterprise Brokerage System (EBS)</a>.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
