<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>TBD</p>
                </div><!--//intro-->
                <div class="item">
                    <span id="PRACTICUM" class="project-title">NASA Trust-Based Publication Recommendation System</span> - <span class="project-tagline">Practicum project for graduate study managed and used internally by NASA. The tool recommends authors and publications based on their trust score given the topic/field. The score is calculated according to the citation, credibility and popularity of the publications. I took part in:</span>
                    <p class="project-item">Design, development and integration of publication recommendation system based on trust values between authors in computer science field</p>
                    <p class="project-item">ETL process for DBLP dataset which consists of all publication metadata in computer science since 1980</p>
                    <p class="project-item">Implementation of the backend system that processes these metadata and serves it restfully</p>
                    <p class="project-item">Implementation of the frontend system that visualises trustiness and relevance of authors and publications</p>
                    <p class="project-item">Utilization of technologies and tools such as Eclipse, Play Framework, Github, MySql, D3 Framework and XML</p>
                    <p class="contributors">Contributors</p>
                    <a href="https://www.linkedin.com/in/jisha-vadake-muthiyil-8366ba51" target="_blank"><img class="contributor-image" title="Jisha Vadake Muthiyil" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/6/005/00d/12e/39e8f64.jpg"></a>
                    <a href="https://www.linkedin.com/in/abhishek-mukhopadhyay-51791033" target="_blank"><img class="contributor-image" title="Abhishek Mukhopadhyay" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/6/005/040/183/22a4bde.jpg"></a>
                    <a href="https://www.linkedin.com/in/krutikakamilla" target="_blank"><img class="contributor-image" title="Krutika Kamilla" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/6/005/054/283/032aa9d.jpg"></a>
                </div>
                <div class="item">
                    <span id="JKIND" class="project-title">JKIND Eclipse Plugin</span> - <span class="project-tagline">Eclipse <a href="https://bitbucket.org/lememta/pkind/branch/pkind_eclipse" target="_blank">plugin</a> that integrates PKind tool which is an SMT-based checker for Lustre models, that is intended for simulating flight trajectories for NASA. I was involved in:</span>
                    <p class="project-item">Focus on support for PKind in Eclipse using Java API equivalances of PKind, namely as JKind</p>
                    <p class="project-item">Integrating JKind with Eclipse to utilize the tool through UI elements</p>
                    <p class="project-item">Utilizing languages, technologies and tools such as Eclipse, Java, JFreeChart and Bitbucket</p>
                    <p class="contributors">Contributors</p>
                    <a href="https://www.linkedin.com/in/temesghen/" target="_blank"><img class="contributor-image" title="Temesghen Kahsai" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/000/173/393/29c66ec.jpg"></a>
                </div>
                <div class="item">
                    <span id="NIGHTSWATCH" class="project-title">Night's Watch</span> - <span class="project-tagline">Security auditing tool aimed for preventing incident-prone configurations for production environment. My responsibilities included:</span>
                    <p class="project-item">Development of initial phase of production security automation console that audits and alerts operations team in case of predefined security violations on Amazon Web Services</p>
                    <p class="project-item">Focus on EC2 Security Groups and IAM Roles and creating logical connection and relation between teams and projects in the company and also exposing the resources and policies that are correlated with both functional teams and individual employees</p>
                    <p class="project-item">Utilizing languages, technologies and tools such as Python, Boto, Flask, MySQL, Jenkins, Puppet and Github</p>
                    <p class="contributors">Contributors</p>
                    <a href="https://www.linkedin.com/in/addumb" target="_blank"><img class="contributor-image" title="Adam Gray" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/3/000/1d2/139/22acb3a.jpg"></a>
                </div>
                <div class="item">
                    <span id="TWITTER" class="project-title">Twitter Analytics Web Service Project</span> - <span class="project-tagline">Term project for Cloud Computing class that focuses on big data and cloud technologies. I participated in:</span>
                    <p class="project-item">Design, integration and optimization of MySQL and HBase databases in order to facilitate analytics</p>
                    <p class="project-item">Design and conduct of Extract, Transform and Load (ETL) process for both databases</p>
                    <p class="project-item">Implementation of Hadoop jobs for enhanced ETL</p>
                    <p class="project-item">Usage of many AWS technologies such as EC2, S3, EMR, DynamoDB and Load Balancing by utilizing Python and Java API for AWS</p>
                    <p class="contributors">Contributors</p>
                    <a href="https://www.linkedin.com/in/abhishek-mukhopadhyay-51791033" target="_blank"><img class="contributor-image" title="Abhishek Mukhopadhyay" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/6/005/040/183/22a4bde.jpg"></a>
                    <a href="https://www.linkedin.com/in/pratibhadohare" target="_blank"><img class="contributor-image" title="Pratibha Anjali" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/1/005/042/063/048cbd4.jpg"></a>
                </div>
                <div class="item">
                    <span id="EBS" class="project-title">Enterprise Brokerage System (EBS)</span> - <span class="project-tagline">Intermediary insurance policy retail system that is established between insurance companies and end users. I was mostly involved in:</span>
                    <p class="project-item">Design, development and integration of many insurance products such as auto, health, travel and property insurances to support our client’s day-to-day business operations</p>
                    <p class="project-item">Design, development and integration of services which communicates or serves internally and externally in a logically-discrete, multi-layered system</p>
                    <p class="project-item">Object-Oriented design, development and maintenance of these modules by employing various technologies and tools such as Java (J2EE), Graymound, Hibernate, Oracle PL/SQL and JBoss Application Server</p>
                    <p class="project-item">Utilization of other technologies and tools such as Eclipse, JUnit, Oracle, SOAP, SoapUI, HTTP, JAXB, Log4J and SVN</p>
                    <p class="contributors">Contributors</p>
                    <a href="https://www.linkedin.com/in/sahinutar" target="_blank"><img class="contributor-image" title="Şahin Utar" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAMeAAAAJGNjOThjMzA3LTMwZDAtNDdjMS04ZjZkLThjNTUwNGY3Mjg2Yg.jpg"></a>
                    <a href="https://tr.linkedin.com/in/serdar-kılıçsel-a3663840" target="_blank"><img class="contributor-image" title="Serdar Kılıçsel" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/2/005/09e/02d/39e3015.jpg"></a>
                    <a href="https://www.linkedin.com/in/veysiertekin" target="_blank"><img class="contributor-image" title="Veysi Ertekin" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/1/000/0ee/287/26d032e.jpg"></a>
                    <a href="https://www.linkedin.com/in/ebru-beşenk-444a742" target="_blank"><img class="contributor-image" title="Ebru Beşenk" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAjcAAAAJDVjYzE4NDIwLWIwMjktNDFjZS1iZWNhLWE0NzE0ZjJmNGE0Zg.jpg"></a>
                    <a href="https://www.linkedin.com/in/seyfi" target="_blank"><img class="contributor-image" title="Seyfettin Kulgu" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/3/005/02f/330/0b02f4c.jpg"></a>
                    <a href="https://www.linkedin.com/in/hasanozkan" target="_blank"><img class="contributor-image" title="Hasan Özkan" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAwlAAAAJGIyZTNhODk1LTcxZjQtNDg5Ni04MzY5LTVkM2NlYjY0M2QxOA.jpg"></a>
                    <a href="https://www.linkedin.com/in/veysel-tosun-b27a652b" target="_blank"><img class="contributor-image" title="Veysel Tosun" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAhZAAAAJGRhYmJhOGZkLTg4NTMtNDEyZS04NTFiLTJhODcwNzkyMTg2Yw.jpg"></a>
                    <a href="https://www.linkedin.com/in/fatih-karakoç-10063b54" target="_blank"><img class="contributor-image" title="Fatih Karakoç" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/3/000/1b3/346/361da09.jpg"></a>
                </div>
                <div class="item">
                    <span id="MSFA" class="project-title">Mobile Sales Force Automation (MSFA)</span> - <span class="project-tagline">Server-side mobile application that is built mainly with J2EE and Primefaces. I was responsible for:</span>
                    <p class="project-item">Design, development and integration of 'Risks Module' to support our client’s day-to-day business operations</p>
                    <p class="project-item">Object-Oriented design and development of this module by employing leading technologies and tools such as Java (J2EE), PrimeFaces, XML and Web Logic Server</p>
                    <p class="project-item">Quality assurance and change management of this module</p>
                    <p class="project-item">Utilization of other technologies and tools such as Eclipse, JUnit, Oracle and Clear Case</p>
                    <p class="contributors">Contributors</p>
                    <a href="https://www.linkedin.com/in/yasakbulut" target="_blank"><img class="contributor-image" title="Yasa Akbulut" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAhKAAAAJGYzZjUzMThmLTdhNWYtNDI2Yi1iOTFjLTcxMzU4ODNjNWFjZA.jpg"></a>
                    <a href="https://www.linkedin.com/in/dorukdestan" target="_blank"><img class="contributor-image" title="Destan Sarpkaya" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAnNAAAAJDY0ZGE2Zjk3LTRhMDUtNDAzNy05YTYzLWFkMmE4YWMyMjcxMA.jpg"></a>
                    <a href="https://www.linkedin.com/in/cuneytyesilkaya" target="_blank"><img class="contributor-image" title="Cüneyt Yeşilkaya" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/7/000/238/387/3c7ee58.jpg"></a>
                    <a href="https://www.linkedin.com/in/mfatihercik" target="_blank"><img class="contributor-image" title="Mehmet Fatih Ercik" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/6/000/1e5/281/0642fd7.jpg"></a>
                    <a href="https://www.linkedin.com/in/aykutakin" target="_blank"><img class="contributor-image" title="Aykut Akın" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/3/005/09b/320/396c426.jpg"></a>
                    <a href="https://www.linkedin.com/in/nadirkirgiz" target="_blank"><img class="contributor-image" title="Nadir Kırgız" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/2/000/01d/1f7/32af148.jpg"></a>
                    <a href="https://www.linkedin.com/in/handegokoglu" target="_blank"><img class="contributor-image" title="Hande Gökoğlu" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/4/005/033/0e3/162e731.jpg"></a>
                </div><!--//item-->
            </section><!--//section-->
